/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* CORES */
:root {
    --azul: #1e3a8a;
    --verde: #16a34a;
    --laranja: #f97316;
    --branco: #ffffff;
}